@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  /* background-color: #1a1a1a; */
  background-color: black;
  color: #ffffff;
}

[data-theme="light"] {
  background-color: #ffffff;
  color: #1a1a1a;
}

body {
  /* background-color: #010c48; */
}
